@model List<bansach.DTO.HoadonproDTO>

@{
    ViewBag.Title = "ChitietHoadon";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container mt-5 mb-5">
    <div class="d-flex flex-row align-items-center back">
                        </div>
    <div class="card">
        <div class="card-header">
            <span class="float-right"><strong>Mã hóa đơn:</strong>  @Model.First().IDhoadon - </span>
            <span class="float-right"> <strong>Trạng thái:</strong> @Model.First().TentinhtrangHD</span>
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h6 class="mb-3">Từ:</h6>
                    <div>
                        <strong>Người gửi: Luân's store</strong>
                    </div>
                    <div>Địa chỉ: Quận 6</div>
                    <div>SDT: +84 444 666 3333</div>
                    <div>Mail: Sachcualuan@gmail.com</div>
                </div>

                <div class="col-sm-6">
                    <h6 class="mb-3">Đến:</h6>
                    <div>
                        <strong>Người nhận: @Model.First().Tenkh</strong>
                    </div>
                    <div>Địa chỉ: @Model.First().Diachi</div>
                    <div>SDT: @Model.First().Sdtkh</div>
                </div>
            </div>
            <div>
                <div>Người giao: @Model.First().Tentaixe</div>
                <div>Ghi chú: @Model.First().Ghichu</div>
            </div>
            <div>
                <div>Ngày đặt: @Model.First().Ngaydat.ToShortDateString()</div>
                <div>Ngày dự kiến giao: @if (@Model.First().Ngaydukiengiao.HasValue)
                { @Model.First().Ngaydukiengiao.Value.ToShortDateString()}
                else { <span>Chưa có</span> } </div>
                <div>
                    Ngày giao: @if (@Model.First().Ngaygiao.HasValue)
                    {@Model.First().Ngaygiao.Value.ToShortDateString()}
                    else
                    { <span>Chưa có</span> }
                </div>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-striped" id="table_chitiethoadon_user">
                    <thead>
                        <tr>
                            <th class="center">Ảnh SP</th>
                            <th>Tên sách</th>
                            <th class="right">Số lượng</th>
                            <th class="center">Tổng đơn giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model) {
                        <tr>
                            <td class="center"><img style="width: 100px; height: 130px;" src="~/Content/AnhSP/@i.Hinhanh" alt=""></td>
                            <td class="left strong"> <div>@i.Tensach</div></td>
                            <td class="center"><div>@i.Soluong</div></td>
                            <td class="right"><div>@i.Tongdongia</div></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-5" style="width: 50%;">

                </div>

                <div class="col-lg-4 col-sm-5 ml-auto" style="width: 50%;">
                    <table class="table table-clear">
                        <tbody>
                            <tr>
                                <td class="left">
                                    <strong>Tổng cộng: </strong>
                                </td>
                                <td class="right"> @Model.First().Tongtien </td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>Mã giảm (@{ double a = (double)Model.First().Chietkhau * 100; }@a%):  </strong>
                                </td>
                                <td class="right">  @{double b = (double)Model.First().Chietkhau * (double)Model.First().Tongtien;}@b </td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>Tiền ship: </strong>
                                </td>
                                <td class="right">@Model.First().TienShip </td>
                            </tr>
                            <tr>
                                <td class="left">
                                    <strong>Thành tiền: </strong>
                                </td>
                                <td class="right">
                                    <strong>@Model.First().Thanhtien</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>