@model bansach.DTO.AccRegisterDTO

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5" style="background-color:aliceblue">
                <form class="card-body cardbody-color p-lg-5" action="/Home/Register" method="post">

                    <div class="text-center">
                        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                             width="200px" alt="profile">
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="Tk" name="Tk" placeholder="Tài khoản">
                        @Html.ValidationMessageFor(model => model.Tk, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="Mk" name="Mk" placeholder="Mật khẩu">
                        @Html.ValidationMessageFor(model => model.Mk, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="Mk2" name="Mk2" placeholder="Nhập lại mật khẩu">
                        @Html.ValidationMessageFor(model => model.Mk2, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="HoTen" name="HoTen" placeholder="Họ tên">
                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="Mail" name="Mail" placeholder="Email">
                        @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="Sdt" name="Sdt" placeholder="Số điện thoại">
                        @Html.ValidationMessageFor(model => model.Sdt, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-center"><button type="submit" class="btn btn-success">Đăng ký</button></div>
                    <div class="form-text text-center mb-5 text-dark">
                        Bạn đã có tài khoản? @Html.ActionLink("Đăng nhập", "Login", "Home", new { area = "" }, new { @class = "text-dark fw-bold" })
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

