@model IEnumerable<bansach.Models.Voucher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <p class="ml-2 mt-2">
            <a href="/Admin/AdminVoucher/Create">
                <button type="button" class="btn btn-success">Thêm Voucher</button>
            </a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IDvoucher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tenvoucher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Chietkhau)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Soluong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trangthai)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDvoucher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tenvoucher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Chietkhau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soluong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trangthai)
                    </td>
                    <td>
                        <a href="/Admin/AdminVoucher/Edit/@item.IDvoucher"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>